// buttons
button{
  &.btn-default{
    background-color: $white;
    text-transform: uppercase;
    padding: 15px 40px;
    border: 1px solid $darkBlue;
    border-radius: 24px;
    transition: all 0.2s;
    font-size: 16px;

    &:hover{
      background-color: $darkBlue;
      color: $white;
    }
  }

  &.btn-submit{
    text-transform: uppercase;
    padding: 10px;
    background-color: $orange;
    color: $white;
    font-size: $fontSize;
    letter-spacing: 0.04em;
  }
}

// slick-nav menu
.slicknav_menu {
  display:none;
}
@media (max-width: 767px) {
  #header-nav {
    display: none;
  }

  .slicknav_menu {
    display: block;
    background: none;

    .slicknav_nav{
      padding-top: 10px;
    }

    .slicknav_btn{
      background-color: $lightBlue;
    }
  }
}