/*STYLE RESET START*/
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font: $fontSize/$lineHeight $fontOpenSans;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
img{
  max-width: 100%;
}
input, button, select{
  border: none;
  outline: none;
}
button{
  cursor: pointer;
  background-color: unset;
}
/*STYLE RESET END*/