// fonts
$fontOpenSans: 'OpenSans', sans-serif;
$fontRaleway: 'Raleway', sans-serif;
$fontLight: 300;
$fontMedium: 500;
$fontSemibold: 600;
$fontBold: 700;
$lineHeight: 1;
$fontSize: 14px;

// color
$black: #333;
$white: #fff;
$orange: #b5a263;
$darkBlue: #24282f;
$lightBlue: #353941;
$lightBlack: #232323;
$grey: #dedede;
$lightGrey: #f7f7f7;
$darkGrey: #6e7279;